{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <p>
    <b>{{ post.title }}</b><br/>
    {{ post.date | date: "%B %Y" }} | {{ post.venue }}, {{ post.location }}

    {% if post.notes %}
      <br/> {{ post.notes }}
    {% endif %}

    {% if post.presentation or post.poster or post.presentationpdf or post.presentationpptx or post.video or post.report or post.video1 or post.video2%}
      <div class="btn-group-xs">
        {% if post.presentation %}
          <a class="btn btn-default" href="{{ post.presentation }}" target="_blank">presentation</a>
        {% endif %}
        {% if post.poster %}
          <a class="btn btn-default" href="{{ post.poster }}" target="_blank">poster</a>
        {% endif %}
        {% if post.presentationpdf %}
          <a class="btn btn-default" href="{{ post.presentationpdf }}" target="_blank">presentation (.pdf)</a>
        {% endif %}
        {% if post.video %}
          <a class="btn btn-default" href="{{ post.video }}" target="_blank">video</a>
        {% endif %}
        {% if post.report %}
          <a class="btn btn-default" href="{{ post.report }}" target="_blank">report</a>
        {% endif %}
      </div>
    {% endif %}

    </p>

  </article>
</div>